__pycache__/
*.pyc

server/storage/models/*.pth
server/storage/separated/*
server/storage/training/*
server/storage/uploads/*

venv/
.venv/

node_modules/
.next/
dist/

.DS_Store

*.pth

opencode.json