__pycache__/
*.pyc

server/storage/separated/*
server/storage/training/*
server/storage/uploads/*

server/storage/generate/video/*/
server/storage/generate/image/*/

server/storage/torch/*

.waves

venv/
.venv/

node_modules/
.next/
dist/

*.log

.DS_Store
